@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Raleway";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/raleway-v17-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/raleway-v17-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v20-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-regular.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: medium;
  font-weight: 500;
  src: url("../fonts/roboto-v20-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-500.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/roboto-v20-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v20-latin_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v20-latin_cyrillic-900.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

* {
  outline: solid 2px tomato;
}

body {
  color: #757575;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  /* outline: 2px solid tomato; */
}

@media (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.button-hero {
  min-width: 200px;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  height: 50px;
  color: #FFFFFF;
  background-color: #2196F3;
  text-decoration: none;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.87;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.button.primary {
  padding-top: 10px;
  padding-right: 29px;
  padding-left: 29px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  color: #FFFFFF;
  background-color: #2196F3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  width: 200px;
  height: 50px;
  margin: auto;
  text-decoration: none;
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
  padding-right: 32px;
  padding-left: 32px;
}

.page-header {
  width: auto;
  border: 1px solid #ECECEC;
}

.nav-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container-head {
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid tomato; */
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 480px) {
  .container-head {
    width: 480px;
    background-color: yellow;
  }
}

@media (min-width: 768px) {
  .container-head {
    width: 768px;
    background-color: violet;
  }
}

@media (min-width: 1200px) {
  .container-head {
    width: 1200px;
    background-color: teal;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

a.link.current.link-underline {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav .link.current {
  color: #2196F3;
}

.site-nav .link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 50px;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav {
  display: none;
}

.item {
  display: none;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.nav-info > .contact-info {
  margin-left: auto;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.position {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.text-light {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info svg {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
}

.text-light svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .item + .item {
  margin-left: 30px;
}

.text-light {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #757575;
  text-decoration: none;
  font-weight: 500;
}

.contact-info svg {
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
}

.text-light svg {
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.text-light:hover, .text-light:focus {
  color: #2196F3;
}

.text-light:hover svg,
.text-light:focus svg {
  fill: #2196F3;
}

.section-title-style-st {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.logo-head {
  margin-right: 70px;
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
}

.logo-footer {
  font-size: 26px;
  line-height: 1.19;
  color: #2196F3;
  text-decoration: none;
  font-family: Raleway;
  font-weight: bold;
}

.color-logo {
  color: #212121;
}

.section-hero {
  text-align: center;
}

.hero {
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/Img-headr-opt.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/Img-headr-opt.jpg);
  background-color: #212121;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.section-title-hero {
  margin-top: 0;
  margin-bottom: 30px;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.363;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

@media (min-width: 1200px) {
  .section-title-hero {
    font-size: 44px;
  }
}

.section-qualities {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media (min-width: 1200px) {
  .section-qualities {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.list-qualities {
  text-align: center;
}

@media (min-width: 768px) {
  .list-qualities {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 1200px) {
  .list-qualities {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: inherit;
        flex-wrap: inherit;
  }
}

.list-qualities-text:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 1200px) {
  .list-qualities-text:not(:last-child) {
    margin: 0px;
    margin-bottom: 0px;
  }
}

@media (min-width: 768px) {
  .list-qualities-text {
    min-width: 354px;
  }
  .list-qualities-text {
    width: calc((100% - 90px) / 3);
  }
  .list-qualities-text:nth-child(2n) {
    margin-left: 30px;
  }
}

@media (min-width: 1200px) {
  .list-qualities-text {
    min-width: 270px;
  }
}

@media (min-width: 1200px) {
  .list-qualities-text:nth-child(2) {
    margin-right: 30px;
  }
}

.list-qualities div {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.icon-antenna {
  background-color: #F5F4FA;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.section-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin: 0px;
}

@media (min-width: 768px) {
  .section-title {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  .section-title {
    text-align: left;
  }
}

.section-title-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: initial;
}

.section-work-company {
  padding-bottom: 94px;
}

.section-title-style {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.company-item {
  width: calc((100% - 2 * 30px) / 3);
  margin-right: 30px;
}

.thumb {
  position: relative;
  /* margin: 10px; */
}

.company img {
  display: block;
}

.company img {
  border-style: none;
}

.thumb > h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  background: rgba(47, 48, 58, 0.8);
}

.constant-client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title-style {
  margin-top: 0px;
  margin-bottom: 50px;
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (min-width: 1200px) {
  .clients li {
    margin-bottom: 0px;
  }
}

.clients-logo, .social-icon, .social-icons-link, .social-icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 1200px) {
  .clients-logo:nth-child(-n + 6) {
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .clients-logo:nth-child(-n + 5) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .clients-logo:nth-child(-n + 6) a {
    width: 170px;
  }
}

@media (min-width: 768px) {
  .clients-logo {
    margin-left: 30px;
    margin-bottom: 30px;
  }
}

@media (min-width: 768px) {
  .clients-logo a {
    width: 210px;
  }
}

@media (min-width: 480px) {
  .clients-logo a {
    width: 210px;
  }
}

.social-icons-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 90px;
  border-radius: 4px;
  outline-color: #2196F3;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.clients-logo, .social-icon, .social-icons-link, .social-icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.ya-co, .tagline-here, .company-icon, .foster-peters, .brend, .company-tagline {
  fill: #AFB1B8;
  vertical-align: middle;
}

.social-icons-link:hover, .social-icons-link:focus {
  border: 1px solid #2196F3;
}

.clients-logo:hover svg {
  fill: #2196F3;
}

.social-icons-link:focus svg {
  fill: #2196F3;
}

.information-about-team {
  background: #F5F4FA;
}

.space-top {
  padding-top: 60px;
  padding-bottom: 94px;
}

@media (min-width: 1200px) {
  .space-top {
    padding-top: 94px;
  }
}

.section-title-style {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #212121;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.16;
  text-align: center;
}

@media (min-width: 1200px) {
  .section-title-style {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .position-for-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 1200px) {
  .info-team:nth-child(-n + 4) {
    min-width: 270px;
    margin-bottom: 0px;
  }
}

@media (min-width: 1200px) {
  .info-team:nth-child(2) {
    margin-right: 30px;
  }
}

@media (min-width: 1200px) {
  .info-team {
    margin-left: 0px;
    min-width: 270px;
  }
}

.info-team {
  padding-bottom: 24px;
  background-color: #FFFFFF;
  text-align: center;
  margin-bottom: 30px;
}

.info-team {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media (min-width: 768px) {
  .position-for-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .info-team:nth-child(2n) {
    margin-left: 30px;
  }
  .info-team {
    min-width: 354px;
  }
}

img {
  border-style: none;
}

.section-title-info {
  margin-top: 30px;
  margin-bottom: 0px;
  text-align: center;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.section-title-name {
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
}

.team-social-item:not(:last-child) {
  margin-right: 10px;
}

.team-social-item {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item {
  fill: #AFB1B8;
  border-radius: 50%;
}

.team-social-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 0px;
  margin-top: 0px;
}

.site-nav-yet a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
}

.focuse-ligth {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.appearance-social {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}

.team-social {
  margin-top: 16px;
}

.team-social-item:hover {
  background-color: #2196F3;
}

.team-social-item:hover svg {
  fill: #FFFFFF;
}

.focuse-ligth:focus {
  background-color: #2196F3;
  border-radius: 50%;
}

.focuse-ligth {
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-item :focus .appearance-social {
  fill: #FFFFFF;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  /* pointer-events: none; */
  -webkit-transition: 1s ease-out;
  transition: 1s ease-out;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 581px;
  width: 100%;
  height: 581px;
  padding-top: 40px;
  background: #FFFFFF;
}

.btn-apperance {
  position: absolute;
  top: 15px;
  right: 15px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 30px;
  height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.btn-close {
  fill: #212121;
  width: 11px;
  height: 11px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.super-puoer {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 448px;
}

.call-make-act {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.03em;
  line-height: 1.15px;
  color: #212121;
}

.form {
  width: 448px;
  margin-top: 12px;
  margin-left: auto;
  margin-right: auto;
}

.form-filed {
  position: relative;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-filed input {
  margin: 0;
  padding: 10px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form-label {
  margin-bottom: 4px;
}

.icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: inline-block;
  background-size: cover;
}

.comment {
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: normal;
  font-family: Roboto;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #212121;
  border-radius: 4px;
}

.filed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 13px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.checkbox:checked + .checkbox-icon {
  margin-right: 7px;
  border-color: #2196F3;
  background-color: #2196F3;
  background-image: url(../../img/check-box-opt.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-icon {
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #212121;
  border-radius: 4px;
}

.policy-comp {
  font-size: 14px;
  line-height: 1.7px;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.btn-modal {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-style {
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.8;
  border: none;
  text-decoration: none;
  color: #FFFFFF;
  background: #188CE8;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-input:focus {
  outline-color: #2196F3;
}

.form-input {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus ~ .icon {
  fill: #2196F3;
}

.form-input ~ .icon {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.color-abyss {
  background: #2F303A;
}

.color-logo-white {
  color: #FFFFFF;
}

/* Выравнивание для кнопок */
.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-main-content {
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter .filter-bt + .filter-bt {
  margin-left: 8px;
}

.list-qualities-text:nth-child(5n) {
  margin-right: 0;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196F3;
}

.site-nav .link.current {
  position: relative;
  color: #2196F3;
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #2196F3;
  border-radius: 2px;
}

.contact-info .contact-info-color {
  color: rgba(255, 255, 255, 0.6);
}

/* Стили для адреса  */
.link-underline-address {
  font-style: normal;
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

/* Кнопки фильтрации */
.button-appearance {
  background-color: #F5F4FA;
  min-width: 73px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  text-align: center;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  font-family: Roboto;
  /* margin-bottom: 8px; */
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}

/* Добавляет интервал между кнопками и сновным контентом */
.container.maine {
  margin-top: 34px;
}

/* Фокус для кнопки */
.list .button-appearance:focus, .list .button-appearance:hover {
  color: #FFFFFF;
  background-color: #2196F3;
}

.list .button-appearance {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Работа с секциями (заголовки) */
.section-title {
  color: #212121;
}

.contact-info-color {
  font-weight: 400;
}

/* Стили основных заголовков */
.section-title-style-portf {
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 24px;
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* Стили для текста технохряк */
.section-title-text {
  font-weight: 400;
  line-height: 1.8;
}

/* Стили для текста под картинками */
.section-title-info-por {
  margin-top: 4px;
  margin-bottom: 0;
  padding-left: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
}

/* Работа с карточками */
.flex-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-element img {
  display: block;
  border: 1px solid #EEEEEE;
}

.flex-border {
  display: block;
  border: 1px solid #EEEEEE;
  padding-bottom: 20px;
}

.flex-element-item {
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.flex-element-item:nth-child(3n) {
  margin-right: 0;
}

.flex-element-item:nth-child(n + 7) {
  margin-bottom: 0px;
}

.without-style {
  /* position: relative;     */
  display: block;
  text-decoration: none;
  color: #757575;
}

.without-style:hover, .without-style:focus {
  -webkit-box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.6), 0px 1px 1px rgba(0, 0, 0, 0.12);
          box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.6), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.img-box {
  position: relative;
  overflow: hidden;
}

.box-hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  line-height: 1.5;
  color: #FFFFFF;
  background-color: #2196F3;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
}

.without-style:hover .box-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.without-style:hover .box-hover {
  opacity: 1;
}

.without-style:focus .box-hover {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.without-style:focus .box-hover {
  opacity: 1;
}

.color-footer {
  background: #2F303A;
  color: #FFFFFF;
}

.contact-info-new .detailes a {
  color: #757575;
  text-decoration: none;
  font-style: normal;
}

.contact-info-new .location a {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
}

.flex-new {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.shape-footer {
  max-width: 100%;
  text-align: center;
  height: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.common {
  margin-right: 69px;
  display: block;
  margin: 0px;
}

.location {
  margin-top: 20px;
}

.contact-info-new .detailes {
  margin-top: 9px;
}

.contact-info-color {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

a.contact-info-color.link-underline:focus {
  color: #2196F3;
}

.detailes:hover a {
  color: #2196F3;
}

.common {
  margin-right: 69px;
  display: block;
  margin: 0px;
}

@media (min-width: 768px) {
  .common {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .common:nth-child(2) {
    margin-right: 50px;
  }
  .common:nth-child(1) {
    margin-right: 156px;
  }
}

.call-to-act {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media (min-width: 1200px) {
  .call-to-act {
    text-align: left;
    margin-bottom: 0px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.common:not(:last-child) {
  margin-bottom: 60px;
}

.social-network:not(:last-child) {
  margin-right: 10px;
}

.style-inst, .style-twit, .style-face, .style-in {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.style-inst, .style-twit, .style-face, .style-in {
  background-size: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
}

.site-nav-yet a {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  width: 44px;
}

.focus-footer {
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  width: 100%;
  height: 50px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  margin-right: 12px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2F303A;
  color: #FFFFFF;
}

@media (min-width: 768px) {
  .comment-footer {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .comment-footer {
    width: 358px;
  }
}

@media (min-width: 1200px) {
  .common:nth-child(1) {
    margin-right: 70px;
  }
}

@media (min-width: 1200px) {
  .separation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

textarea {
  resize: none;
}

.button::after {
  content: "";
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../../img/telegram.svg);
}

.style-inst:hover, .style-twit:hover, .style-face:hover, .style-in:hover {
  background-color: #2196F3;
}

.focus-footer:focus {
  border-radius: 50%;
  background-color: #2196F3;
}

.appearance-social {
  fill: #AFB1B8;
  width: 20px;
  height: 20px;
}
/*# sourceMappingURL=main.css.map */