// Основной цвет 
$primary-text-color:#757575;
$grey: #AFB1B8;
$accent-color: #2196F3;
$modal-btn:#188CE8;
$head-color: #212121;
$white-color: #FFFFFF;
$border-color: #ECECEC;
$color-portf:#2c0f0f;

$portf-border:#EEEEEE;

$modal-color: rgba(117, 117, 117, 0.5);
$portf-white: #F5F4FA;
$abso-bg: rgba(47, 48, 58, 0.8);
$footer-color:#2F303A;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);



